.appp{
    background-color: #1E1E1E;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 7px #FFFFFF;
}

img{
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
}

label{
    font-size: 11px;
    margin-bottom: 5px;
    font-weight: bold;
    width: 290px;
    text-align: left;
    color: #9FA2B4;
    display: flex;
    justify-content: space-between;
}

input{
    width: 280px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #F0F1F7;
    background-color: #FCFDFE;
    margin-bottom: 25px;
    padding-left: 10px;
    box-shadow: 0 0px 7px #F0F1F7;
}

button{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #317845;
    background-color: #317845;
    margin-bottom: 20px;
    padding-left: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease all;
}

button:hover{
    background-color: #2C6A3D;
}

span{
    font-size: 10px;
    color: #9FA2B4;
    cursor: pointer;
}

input:focus{
    outline: none;
}